.auth-page-container {
  width: 100;
  height: 100vh;
  display: flex;

  .left {
    min-width: 70%;
    background-image: url("../assets/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
      margin-top: 12px;
      color: #5b8a72;
      font-family: "Inter", sans-serif;
      text-align: center;
    }

    .logo {
      font-size: 26px;
      font-style: italic;
      font-weight: 600;
    }

    .mission {
      margin-top: 16px;
      font-size: 18px;
      padding: 0 15px;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-heading {
        color: #5b8a72;
        margin-bottom: 16px;
        font-size: 18px;
      }

      .form-field {
        margin-bottom: 16px;
        width: 340px;

        .text-input {
          width: 100%;
          height: 40px;
          border-radius: 6px;
          border: 1px solid #5b8a72;
          font-size: 18px;
          color: #5b8a72;
          padding: 0 8px;
          outline: none;
        }

        .error-msg {
          padding-top: 5px;
          font-size: 16px;
          color: red;
        }
      }
      .submit-btn {
        height: 40px;
        width: 340px;
        border: none;
        border-radius: 5px;
        background-color: #5b8a72;
        color: white;
        cursor: pointer;
        font-size: 18px;
      }
    }
    .actions {
      width: 100%;
      background-color: #f3efef;
      padding: 22px;
      text-align: center;
      font-size: 18px;
      color: #5b8a72;

      button {
        border: none;
        cursor: pointer;
        font-size: inherit;
        text-decoration: underline;
        color: inherit;
      }
    }
  }
}
