.book-card .card-body {
  background: #bfcba8;
  color: white;

  .btn-wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .book-more-btn {
    text-decoration: underline;
    cursor: pointer;
    color: #5b8a72;

    &:hover {
      color: #5b8a72;
    }
  }
}
